<div class="row">

    <div class="col-xl-6 col-md-12">
        <app-card cardTitle="Weather" cardClass="Recent-Users" blockClass="px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr class="unread">
                  <td>
                    <a href=""> <p class="m-1 mt-9">Does it snow all through winter?</p></a>
                  </td>
                  <td><h6 class="mb-1">Isabella</h6></td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>11 MAY 12:56</h6>
                  </td>
                </tr>

                <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">What is the lowest recorded winter temperature?</p></a>
                    </td>
                    <td><h6 class="mb-1">Natalya</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Are winter clothes affordable?</p></a>
                    </td>
                    <td><h6 class="mb-1">Jide</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Best pleases to shop for winter clothes.</p></a>
                    </td>
                    <td><h6 class="mb-1">Derek</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-blue f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">How long is the winter season?</p></a>
                    </td>
                    <td><h6 class="mb-1">Olu</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Can one suffer from heat stroke during the summer?</p></a>
                    </td>
                    <td><h6 class="mb-1">Lisa</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Which is the most beautiful of the seasons?</p></a>
                    </td>
                    <td><h6 class="mb-1">Susan</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-purple f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">How often does it snow in Christmas?</p></a>
                    </td>
                    <td><h6 class="mb-1">Maria</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

              </tbody>
            </table>
          </div>
        </app-card>
    </div>




    <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Family, Community & Wellness" cardClass="Recent-Users" blockClass="px-0 py-3">
        <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            <tr class="unread">
                <td>
                <a href=""> <p class="m-1 mt-9">Is this community safe for kids?</p></a>
                </td>
                <td><h6 class="mb-1">Chris</h6></td>
                <td>
                <h6 class="text-muted"><i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>12 SEP 12:56</h6>
                </td>
            </tr>

            <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Are there good Facilities accessible to new comers?</p></a>
                </td>
                <td><h6 class="mb-1">Prakhyat</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>13 OCT 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Does the community gym require an extra payments?</p></a>
                </td>
                <td><h6 class="mb-1">Yong</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 JAN 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">How safe is it to bike around?</p></a>
                </td>
                <td><h6 class="mb-1">Sandra</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-blue f-10 m-r-15"></i>22 FEB 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Are there bus schedules reliable?</p></a>
                </td>
                <td><h6 class="mb-1">Lily</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 MAY 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Is it necessary to own a car?</p></a>
                </td>
                <td><h6 class="mb-1">Lucy</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>22 MAY 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">A list of elementary schools within the community?</p></a>
                </td>
                <td><h6 class="mb-1">Susan</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-purple f-10 m-r-15"></i>22 JUL 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">How often does it snow in Christmas?</p></a>
                </td>
                <td><h6 class="mb-1">Susan</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 JUN 12:56</h6>
                </td>
                </tr>

            </tbody>
        </table>
        </div>
    </app-card>
    </div>



    <div class="col-xl-6 col-md-12">
        <app-card cardTitle="Food, Drinks & Fine Dining" cardClass="Recent-Users" blockClass="px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr class="unread">
                  <td>
                    <a href=""> <p class="m-1 mt-9">How do I convert my coupons to cash?</p></a>
                  </td>
                  <td><h6 class="mb-1">Susan</h6></td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>15 MAY 12:56</h6>
                  </td>
                </tr>

                <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Any personal recommendations for a nice restaurant?</p></a>
                    </td>
                    <td><h6 class="mb-1">Olu</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 JUN 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Does the community have a vibrant night-life culture?</p></a>
                    </td>
                    <td><h6 class="mb-1">Jide</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 JAN 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Where are the best places to shop for groceries?</p></a>
                    </td>
                    <td><h6 class="mb-1">Derek</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-blue f-10 m-r-15"></i>17 JUN 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">What time do restaurants close?</p></a>
                    </td>
                    <td><h6 class="mb-1">Maria</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>26 FEB 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Is tipping practiced in restaurant around?</p></a>
                    </td>
                    <td><h6 class="mb-1">Lisa</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>22 MAR 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Are there recommendations for a scenic picnic spot?</p></a>
                    </td>
                    <td><h6 class="mb-1">Derek</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-purple f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

                  <tr class="unread">
                    <td>
                    <a href=""><p class="m-1 mt-9">Are taxes changed an all beverages?</p></a>
                    </td>
                    <td><h6 class="mb-1">Jide</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 MAY 12:56</h6>
                    </td>
                  </tr>

              </tbody>
            </table>
          </div>
        </app-card>
    </div>




    <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Immigration & Education" cardClass="Recent-Users" blockClass="px-0 py-3">
        <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            <tr class="unread">
                <td>
                <a href=""> <p class="m-1 mt-9">I am a student. Am I allowed to bring my family?</p></a>
                </td>
                <td><h6 class="mb-1">Chris</h6></td>
                <td>
                <h6 class="text-muted"><i class="fas fa-circle text-c-yellow f-10 m-r-15"></i>12 SEP 12:56</h6>
                </td>
            </tr>

            <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Can I work two jobs on a student VISA?</p></a>
                </td>
                <td><h6 class="mb-1">Prakhyat</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>13 OCT 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">How expensive is a university education in this community?</p></a>
                </td>
                <td><h6 class="mb-1">Yong</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 JAN 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Is it preferable to start on a Fall Term?</p></a>
                </td>
                <td><h6 class="mb-1">Sandra</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-blue f-10 m-r-15"></i>22 FEB 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">How easy is it to extend a student's VISA?</p></a>
                </td>
                <td><h6 class="mb-1">Lily</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 MAY 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">What are recommendations for building a credible credit score?</p></a>
                </td>
                <td><h6 class="mb-1">Lucy</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>22 MAY 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">Is my foreign drivers license valid here?</p></a>
                </td>
                <td><h6 class="mb-1">Susan</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-purple f-10 m-r-15"></i>22 JUL 12:56</h6>
                </td>
                </tr>

                <tr class="unread">
                <td>
                <a href=""><p class="m-1 mt-9">How often does it snow in Christmas?</p></a>
                </td>
                <td><h6 class="mb-1">Susan</h6></td>
                <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>22 JUN 12:56</h6>
                </td>
                </tr>

            </tbody>
        </table>
        </div>
    </app-card>
    </div>




</div>