<div class="row">

    <div class="col-xl-6 col-md-12">
        <app-card cardTitle="Weather" cardClass="Recent-Users" blockClass="px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <ng-container *ngFor="let member of members">
                  <ng-container *ngFor="let memberPost of member.posts"> 
                    <tr class="unread">           
                      <ng-container *ngIf="memberPost.postTags.includes('weather')">
                        <td>
                          <a [class.selected]="post === selectedPost" type="button"  (click)="onSelect(memberPost)" > <p class="m-1 mt-9">{{ memberPost.postTitle }}</p>
                          </a>
                        <td><h6 class="mb-1">{{ member.name }}</h6></td>
                        <td>
                          <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ memberPost.postTimestamp }}</h6>
                        </td>
                      </ng-container> 
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </app-card>
    </div>


    <div class="col-xl-6 col-md-12">
      <app-card cardTitle="Family, Community & Wellness" cardClass="Recent-Users" blockClass="px-0 py-3">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <ng-container *ngFor="let member of members">
                <ng-container *ngFor="let memberPost of member.posts"> 
                  <tr class="unread">           
                    <ng-container *ngIf="memberPost.postTags.includes('family') || memberPost.postTags.includes('community') || memberPost.postTags.includes('wellness')">
                      <td>
                        <a [class.selected]="post === selectedPost" type="button"  (click)="onSelect(memberPost)" > <p class="m-1 mt-9">{{ memberPost.postTitle }}</p></a>
                        </td>
                      <td><h6 class="mb-1">{{ member.name }}</h6></td>
                      <td>
                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ memberPost.postTimestamp }}</h6>
                      </td>
                    </ng-container> 
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>

    
    <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Food, Drinks & Fine Dining" cardClass="Recent-Users" blockClass="px-0 py-3">
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <ng-container *ngFor="let member of members">
              <ng-container *ngFor="let memberPost of member.posts"> 
                <tr class="unread">           
                  <ng-container *ngIf="memberPost.postTags.includes('food') || memberPost.postTags.includes('drink') || memberPost.postTags.includes('dining')">
                    <td>
                      <a [class.selected]="post === selectedPost" type="button"  (click)="onSelect(memberPost)" > <p class="m-1 mt-9">{{ memberPost.postTitle }}</p>
                      </a>
                    </td>
                    <td><h6 class="mb-1">{{ member.name }}</h6></td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ memberPost.postTimestamp }}</h6>
                    </td>
                  </ng-container> 
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </app-card>
    </div>


    <div class="col-xl-6 col-md-12">
  <app-card cardTitle="Immigration & Education" cardClass="Recent-Users" blockClass="px-0 py-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <ng-container *ngFor="let member of members">
            <ng-container *ngFor="let memberPost of member.posts"> 
              <tr class="unread">           
                <ng-container *ngIf="memberPost.postTags.includes('immigration') || memberPost.postTags.includes('education') ">
                  <td>
                    <a [class.selected]="post === selectedPost" type="button"  (click)="onSelect(memberPost)" > <p class="m-1 mt-9">{{ memberPost.postTitle }}</p>
                    </a>
                  </td>
                  <td><h6 class="mb-1">{{ member.name }}</h6></td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ memberPost.postTimestamp }}</h6>
                  </td>
                </ng-container> 
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </app-card>
    </div>

</div>