<div class="auth-wrapper maintance">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <img src="assets/images/error/maintance.png" alt="" class="img-fluid" />
          <h5 class="text-muted my-4">Site Under Maintenance!, Visit after some times</h5>
          <form action="index.html">
            <button class="btn btn-primary mb-4"><i class="feather icon-refresh-ccw me-2"></i>Reload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
