<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Image Grid" [options]="false">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" (click)="openModal(400, images, imageIndex)" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" (click)="openModal(400, images, imageIndex)" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" (click)="openModal(400, images, imageIndex)" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <img src="assets/images/gallery-grid/img-grd-gal-4.jpg" (click)="openModal(400, images, imageIndex)" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <img src="assets/images/gallery-grid/img-grd-gal-5.jpg" (click)="openModal(400, images, imageIndex)" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <img src="assets/images/gallery-grid/img-grd-gal-6.jpg" (click)="openModal(400, images, imageIndex)" />
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Video Grid" [options]="false">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe allowfullscreen="" src="//player.vimeo.com/video/246066429?title=0&amp;byline=0&amp;portrait=0"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe allowfullscreen="" src="//player.vimeo.com/video/246066429?title=0&amp;byline=0&amp;portrait=0"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe allowfullscreen="" src="//player.vimeo.com/video/246066429?title=0&amp;byline=0&amp;portrait=0"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/IkyZHPnfFnE"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/IkyZHPnfFnE"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/IkyZHPnfFnE"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
