.card-body {
  padding: 0;
}
.hei-75 {
  height: 75px;
}
.hei-75 {
  width: 75px;
}
.hei-40 {
  height: 40px;
}
.wid-40 {
  width: 40px;
}
.bg-body {
  background: #f4f7fa !important;
}
.wid-120 {
  width: 120px;
}
