<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Colored links" [options]="false">
      <div class="card-body">
        <a href="#" class="me-3 link-primary">Primary link</a>
        <a href="#" class="me-3 link-secondary">Secondary link</a>
        <a href="#" class="me-3 link-success">Success link</a>
        <a href="#" class="me-3 link-danger">Danger link</a>
        <a href="#" class="me-3 link-warning">Warning link</a>
        <a href="#" class="me-3 link-info">Info link</a>
        <a href="#" class="me-3 link-dark">Dark link</a>
        <div class="bg-dark px-3 py-2 d-inline-block rounded">
          <a href="#" class="me-0 link-light">Light Link</a>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Text selection" [options]="false">
      <div class="card-body">
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>User select all</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="user-select-all">This paragraph will be entirely selected when clicked by the user.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>User select auto</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="user-select-all">This paragraph has default select behavior.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>User select none</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="user-select-all">This paragraph will not be selectable when clicked by the user.</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Line height" [options]="false">
      <div class="card-body">
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Line height 1</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="lh-1">
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit
              amet fermentum.
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Line height small</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="lh-sm">
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit
              amet fermentum.
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Line height base</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="lh-base">
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit
              amet fermentum.
            </p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Line height large</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="lh-lg">
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit
              amet fermentum.
            </p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Pointer events" [options]="false">
      <div class="card-body">
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Pointer events none</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p><a href="#" class="pe-none">This Link</a> can not be clicked.</p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Pointer events auto</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p><a href="#" class="pe-none">This Link</a> can be clicked (this is default behaviour).</p>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-sm-12 text-lg-end">
            <b>Pointer events combine</b>
          </label>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <p class="pe-none">
              <a href="#">This Link</a>
              can not be clicked because the
              <code>pointer-events</code>
              property is inherited from its parent. However,
              <a href="#" class="pe-auto">this link</a>
              has a
              <code>pe-auto</code>class and can be clicked.
            </p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Position values" [options]="false">
      <div class="card-body">
        <div class="p-3 p-sm-5">
          <div class="position-relative bg-body" style="height: 250px">
            <div
              class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="position-absolute top-0 start-0"
            ></div>
            <div
              class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 end-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="position-absolute top-0 end-0"
            ></div>
            <div
              class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-50"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="position-absolute top-50 start-50"
            ></div>
            <div
              class="hei-40 wid-40 rounded bg-secondary position-absolute bottom-50 end-50"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="position-absolute bottom-50 end-50"
            ></div>
            <div
              class="hei-40 wid-40 rounded bg-secondary position-absolute bottom-0 start-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="position-absolute bottom-0 start-0"
            ></div>
            <div
              class="hei-40 wid-40 rounded bg-secondary position-absolute bottom-0 end-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="position-absolute bottom-0 end-0"
            ></div>
          </div>
        </div>
      </div>
      <hr />
      <h5>Center elements</h5>
      <div class="p-3 p-sm-5">
        <div class="position-relative bg-body" style="height: 250px">
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-0 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-0 start-0 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-50 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-0 start-50 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-100 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-0 start-100 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-0 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-50 start-0 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-50 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-50 start-50 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-100 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-50 start-100 translate-middle"
            aria-label="position-absolute top-50 start-100 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-100 start-0 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-100 start-0 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-100 start-50 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-100 start-50 translate-middle"
            aria-label="position-absolute top-100 start-50 translate-middle"
          ></div>
          <div
            class="hei-40 wid-40 rounded bg-secondary position-absolute top-100 start-100 translate-middle"
            data-bs-toggle="tooltip"
            title
            data-bs-original-title="position-absolute top-100 start-100 translate-middle"
            aria-label="position-absolute top-100 start-100 translate-middle"
          ></div>
        </div>
      </div>
      <hr />
      <h5>Examples</h5>
      <p class="mb-0">Here are some real life examples of these classes.</p>
      <div class="p-3 p-sm-5 d-flex justify-content-around">
        <button type="button" class="btn btn-primary position-relative">
          Mails
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"
            >+99
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <button type="button" class="btn btn-dark position-relative">Maker</button>
        <button type="button" class="btn btn-primary position-relative">
          Alerts
          <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2">
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
      <hr />
      <div class="p-3 p-sm-5">
        <div class="position-relative m-4">
          <div class="progress" style="height: 3px">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <button
            type="button"
            class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
            style="width: 2rem; height: 2rem"
          >
            1
          </button>
          <button
            type="button"
            class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill"
            style="width: 2rem; height: 2rem"
          >
            2
          </button>
          <button
            type="button"
            class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
            style="width: 2rem; height: 2rem"
          >
            3
          </button>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Border" [options]="false">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h5>Border color</h5>
            <hr />
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-primary"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-primary"
              aria-label="border-primary"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-secondary"
              aria-label="border-secondary"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-success"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-success"
              aria-label="border-success"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-danger"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-danger"
              aria-label="border-danger"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-warning"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-warning"
              aria-label="border-warning"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-info"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-info"
              aria-label="border-info"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-light"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-light"
              aria-label="border-light"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-dark"
              aria-label="border-dark"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-white"
              data-bs-toggle="tooltip"
              data-bs-original-title="border-white"
              aria-label="border-white"
            ></span>
          </div>
          <div class="col-md-6 additive">
            <h5 class="mt-5">Additive</h5>
            <hr />
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border"
              aria-label="border"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-top"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-top"
              aria-label="border-top"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-end"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-end"
              aria-label="border-end"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-bottom"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-bottom"
              aria-label="border-bottom"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-start"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-start"
              aria-label="border-start"
            ></span>
          </div>
          <div class="col-md-6">
            <h5 class="mt-5">Subtractive</h5>
            <hr />
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-0"
              aria-label="border-0"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-top-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-top-0"
              aria-label="border-top-0"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-end-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-end-0"
              aria-label="border-end-0"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-bottom-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-bottom-0"
              aria-label="border-bottom-0"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-start-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border-start-0"
              aria-label="border-start-0"
            ></span>
          </div>
          <div class="col-md-6">
            <h5 class="mt-5">Border width</h5>
            <hr />
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-1"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border border-1"
              aria-label="border border-1"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-2"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border border-2"
              aria-label="border border-2"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-3"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border border3"
              aria-label="border border-3"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-4"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border border-4"
              aria-label="border border-4"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-5"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="border border-5"
              aria-label="border border-5"
            ></span>
          </div>
          <div class="col-sm-6">
            <h5 class="mt-5">Border radius Sizes</h5>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark rounded-sm"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-sm"
              aria-label="rounded-sm"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark rounded-lg"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-lg"
              aria-label="rounded-lg"
            ></span>
          </div>
          <div class="col-sm-12">
            <h5 class="mt-5">Border-radius</h5>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded"
              aria-label="rounded"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-top"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-top"
              aria-label="rounded-top"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-right"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-right"
              aria-label="rounded-right"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-bottom"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-bottom"
              aria-label="rounded-bottom"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-left"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-left"
              aria-label="rounded-left"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-circle"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-circle"
              aria-label="rounded-circle"
            ></span>
            <span
              class="hei-75 wid-120 bg-body d-inline-block me-2 border border-secondary rounded-pill"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-pill"
              aria-describedby="tooltip12141"
            ></span>
            <span
              class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-0"
              data-bs-toggle="tooltip"
              title
              data-bs-original-title="rounded-0"
              aria-label="rounded-0"
            ></span>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Shadows" [options]="false">
      <div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
      <div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>
      <div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Embeds" [options]="false">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilLU5vxhLYA?rel=0"></iframe>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Aspect Ratios" [options]="false">
      <div class="row">
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 21 by 9</h5>
          <hr />
          <div class="ratio ratio-21x9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilLU5vxhLYA?rel=0"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 16 by 9</h5>
          <hr />
          <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilLU5vxhLYA?rel=0"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 4 by 3</h5>
          <hr />
          <div class="ratio ratio-4x3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilLU5vxhLYA?rel=0"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 1 by 1</h5>
          <hr />
          <div class="ratio ratio-1x1">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilLU5vxhLYA?rel=0"></iframe>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
