<!-- <div class="col-sm-12">
    <app-card cardTitle="Tags Input" [options]="false">
      <div class="mb-5">
        <h5>Basic Tag Input</h5>
        <hr />
        <p>Just add <code>ngModel</code> to your <code>tag-input</code> field to automatically change it to a tags input field.</p>
        <tag-input class="tag-chips" [(ngModel)]="items" [modelAsStrings]="true"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Read Only Tag Input</h5>
        <hr />
        <p>Just add <code>identifyBy, displayBy</code> attribute to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [(ngModel)]="itemsAsObjects" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Editable Tag Input</h5>
        <hr />
        <p>
          Just add <code>editable</code> attribute with <code>true</code> value, to your <code>tag-input</code> field. (doubble click on
          tag)
        </p>
        <tag-input class="tag-chips" [(ngModel)]="items" [editable]="true"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input Limit (3)</h5>
        <hr />
        <p>Just add <code>maxItems, ripple</code> attribute to your <code>tag-input</code> field. (doubble click on tag)</p>
        <tag-input
          class="tag-chips"
          [ngModel]="['Amsterdam', 'Washington', 'Sydney']"
          [maxItems]="5"
          [ripple]="false"
          placeholder="Insert a new item"
        ></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input Validation</h5>
        <hr />
        <p>Just add <code>errorMessages, validators</code> attribute to your <code>tag-input</code> field.</p>
        <tag-input
          class="tag-chips"
          [ngModel]="['@Amsterdam$', '@Washington$', '@Sydney$']"
          [errorMessages]="errorMessages"
          [validators]="validators"
        ></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Space Key</h5>
        <hr />
        <p>Just add <code>separatorKeyCodes</code> attribute with <code>ket code</code> method to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [ngModel]="['Amsterdam']" [separatorKeyCodes]="[32, 188]"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Theme</h5>
        <hr />
        <p>
          Just add <code>theme</code> attribute with <code>bootstrap(default), danger, success, warning, dark</code> value to your
          <code>tag-input</code> field.
        </p>
        <tag-input class="tag-chips" [theme]="'dark'" [ngModel]="['Amsterdam', 'Washington']" name="items"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Minimal Theme</h5>
        <hr />
        <p>
          Just add <code>theme</code> attribute with
          <code>minimal, minimal-danger, minimal-success, minimal-warning, minimal-dark</code> value to your <code>tag-input</code> field.
        </p>
        <tag-input class="tag-chips" [theme]="'minimal-danger'" [ngModel]="['Amsterdam', 'Washington', 'Sydney']" name="items"></tag-input>
      </div>
    </app-card>
  </div> -->
  <!-- <h5 class="mt-5">Form Grid</h5>
  <hr /> -->
<!-- <app-pell-wysiwyg></app-pell-wysiwyg>
<button type="button" class="btn btn-primary btn-lg">Publish</button>
<button type="button" class="btn btn-outline-primary">Save Draft</button> -->


{{ model | json }}
<hr>
<div class="container">
  <div [hidden]="submitted">
    <!-- <h3>Create a Post</h3> -->
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name"><h6>Name </h6></label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel" placeholder="Please input your username">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="title"><h6>Title</h6></label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" name="title"
               #name="ngModel" placeholder="Add your title">
        <!-- <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Title is required
        </div> -->
      </div>

      <div class="form-group">
        <label for="tag"><h6>Select a tag:</h6></label>
        <select class="form-control" id="tag"
                required
                [(ngModel)]="model.tag" name="tag"
                #power="ngModel" placeholder="a tag please...">
          <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
        </select>
        <!-- <div [hidden]="tag.valid || tag.pristine" class="alert alert-danger">
          Power is required
        </div> -->
      </div>

      <div class="form-group">
        <label for="tag"><h6>Where to post:</h6></label>
        <select class="form-control" id="postOn"
                required
                [(ngModel)]="model.postOn" name="postOn"
                #power="ngModel" >
          <option *ngFor="let place of postOn" [value]="place">{{place}}</option>
        </select>
        <!-- <div [hidden]="tags.valid || tags.pristine" class="alert alert-danger">
          Power is required
        </div> -->
      </div>


      <div class="form-group">
        <label for="content"><h6>Content</h6></label>
        <textarea class="form-control" id="content"
               [(ngModel)]="model.content" name="content" rows="4" placeholder="Write down your story ..."></textarea>
      </div>




      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!heroForm.form.valid">Publish</button>
      <button type="button" class="btn btn-outline-primary">Save Draft</button>
      
      
      
      <button type="button" class="btn btn-outline-primary" (click)="newHero(); heroForm.reset()">Reset</button>
      <!-- <i>with</i> reset -->

      <!-- &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
      <i>without</i> reset -->

     <!-- NOT SHOWN IN DOCS -->
      <!-- <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div> -->

    </form>
  </div>








  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>

    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Title</div>
      <div class="col-xs-9">{{ model.title }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Tag</div>
      <div class="col-xs-9">{{ model.tag }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">postOn</div>
      <div class="col-xs-9">{{ model.postOn }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Content</div>
      <div class="col-xs-9">{{ model.content }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

<!-- ====================================================  -->
  <div>
    <form>

       <!-- ... all of the form ... -->

    </form>
  </div>

<!-- ====================================================  -->
<!-- <hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
<div class="no-style" style="margin-left: 4px">
  <div class="container">
      <h1>Hero Form</h1>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Select a tag:</label>
          <select class="form-control" id="power" required>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div> -->

  <!-- ====================================================  -->
  <!-- <hr>
  <div class="container">
      <h1>Hero Form</h1>
      <form #heroForm="ngForm">
        {{ model | json }}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name">
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text"  class="form-control" id="alterEgo"
                 [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control"  id="power"
                  required
                  [(ngModel)]="model.power" name="power">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div> -->

  <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
  <!-- <hr>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name">
    TODO: remove this: {{model.name}}
  <hr>
    <input type="text" class="form-control" id="name"
           required
           [ngModel]="model.name" name="name"
           (ngModelChange)="model.name = $event">
    TODO: remove this: {{model.name}}
</div> -->
