


  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>

    <div class="row">
      <div class="col-xs-3"><h4>Name</h4></div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3"><h4>Title</h4></div>
      <div class="col-xs-9">{{ model.title }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3"><h4>Tag</h4></div>
      <div class="col-xs-9">{{ model.tags }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3"><h4>postOn</h4></div>
      <div class="col-xs-9">{{ model.postOn }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3"><h4>Content</h4></div>
      <div class="col-xs-9">{{ model.content }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>


<div class="col-sm-10">
  <app-card cardTitle="Please, create your story..." [options]="false">
    <div class="mb-5">

      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="name"><h5>Name </h5></label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel" placeholder="Please input your username">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
  
        <div class="form-group">
          <label for="title"><h5>Title</h5></label>
          <input type="text" class="form-control" id="title"
                 required
                 [(ngModel)]="model.title" name="title"
                 #title="ngModel" placeholder="Add your title">
          <div [hidden]="title.valid || title.pristine"
               class="alert alert-danger">
            Title is required
          </div>
        </div>



      <div class="form-group">
        <label for="tags"><h5>Add up to 4 tags</h5> (double click to modify):</label>
        <tag-input 
          class="tag-chips" 
          id="tags"
          name="tags"
          required
          [(ngModel)]="model.tags"
          [modelAsStrings]="true"
          [editable]="true" 
          [maxItems]="4"
          [ripple]="false"
          [separatorKeyCodes]="[32, 188]"
          >
        </tag-input>
      </div>
  
        <div class="form-group">
          <label for="postOn"><h5>Where to post:</h5></label>
          <select class="form-control" id="postOn"
                  required
                  [(ngModel)]="model.postOn" name="postOn"
                  #postOn="ngModel" >
            <option *ngFor="let place of postOns" [value]="place">{{place}}</option>
          </select>
        </div>
  
  
        <div class="form-group">
          <label for="content"><h5>Content</h5></label>
          <textarea class="form-control" id="content" required #content="ngModel"
                 [(ngModel)]="model.content" name="content" rows="4" placeholder="Write down your story ..."></textarea>
          <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                  content is required
          </div>
        </div>


          <!-- [swal]="{
          title: 'Good job!',
          icon: 'success',
          text: 'Your Post has been submitted!',
          showConfirmButton: false,
          timer: 1500
          }"   -->


        <button 
          type="submit" class="btn btn-primary btn-lg" 
          [disabled]="!heroForm.form.valid" (click)="submitAlert()">Publish</button>


        <button 
          type="button" 
          class="btn btn-outline-primary"
          [swal]="{
            title: 'Draft Saved!',
            icon: 'success',
            showConfirmButton: false,
            timer: 1500
            }"
          [disabled]="!heroForm.form.valid"


          >Save Draft</button>
        
      
        <button type="button" class="btn btn-outline-primary" (click)="newHero(); heroForm.reset()">Reset</button>
      </form>
    </div>
  </app-card>
</div>         

{{ model | json }}




        
        <!-- <i>with</i> reset -->
  
        <!-- &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
        <i>without</i> reset -->
  
       <!-- NOT SHOWN IN DOCS -->
        <!-- <div>
          <hr>
          Name via form.controls = {{showFormControls(heroForm)}}
        </div> -->


    <!-- <div class="mb-5">
      <h5>Read Only Tag Input</h5>
      <hr />
      <p>Just add <code>identifyBy, displayBy</code> attribute to your <code>tag-input</code> field.</p>
      <tag-input class="tag-chips" [(ngModel)]="itemsAsObjects" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
    </div>




<div class="mb-5">
      <h5>Tag Input Limit (3)</h5>
      <hr />
      <p>Just add <code>maxItems, ripple</code> attribute to your <code>tag-input</code> field. (doubble click on tag)</p>
      <tag-input
        class="tag-chips"
        [ngModel]="['Amsterdam', 'Washington', 'Sydney']"
        [maxItems]="5"
        [ripple]="false"
        placeholder="Insert a new item"
      ></tag-input>
    </div>
    <div class="mb-5">
      <h5>Tag Input Validation</h5>
      <hr />
      <p>Just add <code>errorMessages, validators</code> attribute to your <code>tag-input</code> field.</p>
      <tag-input
        class="tag-chips"
        [ngModel]="['@Amsterdam$', '@Washington$', '@Sydney$']"
        [errorMessages]="errorMessages"
        [validators]="validators"
      ></tag-input>
    </div>
    <div class="mb-5">
      <h5>Tag Input with Space Key</h5>
      <hr />
      <p>Just add <code>separatorKeyCodes</code> attribute with <code>ket code</code> method to your <code>tag-input</code> field.</p>
      <tag-input class="tag-chips" [ngModel]="['Amsterdam']" [separatorKeyCodes]="[32, 188]"></tag-input>
    </div>
    <div class="mb-5">
      <h5>Tag Input with Theme</h5>
      <hr />
      <p>
        Just add <code>theme</code> attribute with <code>bootstrap(default), danger, success, warning, dark</code> value to your
        <code>tag-input</code> field.
      </p>
      <tag-input class="tag-chips" [theme]="'dark'" [ngModel]="['Amsterdam', 'Washington']" name="items"></tag-input>
    </div>
    <div class="mb-5">
      <h5>Tag Input with Minimal Theme</h5>
      <hr />
      <p>
        Just add <code>theme</code> attribute with
        <code>minimal, minimal-danger, minimal-success, minimal-warning, minimal-dark</code> value to your <code>tag-input</code> field.
      </p>
      <tag-input class="tag-chips" [theme]="'minimal-danger'" [ngModel]="['Amsterdam', 'Washington', 'Sydney']" name="items"></tag-input>
    </div> -->






    <!-- <button
    type="button"
    class="btn btn-success"
    [swal]="{
      title: 'Good job!',
      icon: 'success',
      text: 'You clicked the button!'
    }"
  >
    Success
  </button> -->