<div class="row">
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Area Chart" [options]="false">
      <google-chart [data]="areaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Stacking Area Chart" [options]="false">
      <google-chart [data]="stackingAreaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Bar Chart" [options]="false">
      <google-chart [data]="barChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Bubble Chart" [options]="false">
      <google-chart [data]="bubbleChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Candlestick Chart" [options]="false">
      <google-chart [data]="candlestickChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Exploading A Slice Chart" [options]="false">
      <google-chart [data]="exploadingChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Donut Chart" [options]="false">
      <google-chart [data]="donutChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-6">
    <app-card cardTitle="Geo Chart" [options]="false">
      <google-chart [data]="GeoCharttData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4">
    <app-card cardTitle="Vega chart" [options]="false">
      <google-chart [data]="vegaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-8">
    <app-card cardTitle="Timeline chart" [options]="false">
      <google-chart [data]="timelineChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Combo Chart" [options]="false">
      <google-chart [data]="comboChartData"></google-chart>
    </app-card>
  </div>
</div>
