<div class="row">
  <!-- <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5>Basic Carousel</h5>
      </div>
      <div class="card-body">
        <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="2000">
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-1.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-3.jpg" alt="Third Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-4.jpg" alt="Third Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-6.jpg" alt="Third Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-7.jpg" alt="Third Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-5.jpg" alt="Third Slide" class="d-block w-100" />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5>Control Carousel</h5>
      </div>
      <div class="card-body">
        <ngb-carousel [showNavigationIndicators]="false">
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-7.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-6.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-4.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-5.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-1.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-3.jpg" alt="Third Slide" class="d-block w-100" />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5>Carousel Indicators</h5>
      </div>
      <div class="card-body">
        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="3000">
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-2.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-1.jpg" alt="Ssecond Slide" class="d-block w-100" />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Carousel Crossfade</h5>
      </div>
      <div class="card-body">
        <ngb-carousel class="carousel-fade" [showNavigationIndicators]="false">
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-2.jpg" alt="First Slide" class="d-block w-100" />
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/img-slide-1.jpg" alt="Ssecond Slide" class="d-block w-100" />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div> -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Carousel with Captions</h5>
      </div>
      <div class="card-body">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-3.jpg" alt="First Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">First slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Second slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-1.jpg" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <a href="/dashboard/e-commerce"><ngb-carousel>
          
          <ng-template ngbSlide>
            
            <img class="d-block w-100" src="assets/images/slider/img-slide-3.jpg" alt="First Slide" />
            <div class="carousel-caption">
              <h3 class="text-white">First slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> 
            </div>           
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Second slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-1.jpg" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        
        </ngb-carousel>
      </a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h5>Carousel with Captions</h5>
      </div>
      <div class="card-body">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-3.jpg" alt="First Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">First slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Second slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-1.jpg" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h5>Carousel with Captions</h5>
      </div>
      <div class="card-body">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-3.jpg" alt="First Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">First slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Second slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-1.jpg" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h5>Carousel with Captions</h5>
      </div>
      <div class="card-body">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-3.jpg" alt="First Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">First slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-2.jpg" alt="Ssecond Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Second slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slider/img-slide-1.jpg" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Dark variant</h5>
      </div>
      <div class="card-body">
        <ngb-carousel class="carousel-dark">
          <ng-template ngbSlide>
            <img class="img-fluid d-block w-100" src="assets/images/light-box/l6.jpg" alt="First slide" />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="img-fluid d-block w-100" src="assets/images/light-box/l5.jpg" alt="Second slide" />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="img-fluid d-block w-100" src="assets/images/light-box/l6.jpg" alt="Third slide" />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>Disable touch swiping - Mobile only</h5>
      </div>
      <div class="card-body">
        <ngb-carousel
          [showNavigationIndicators]="false"
          #carousel
          [interval]="1000"
          [pauseOnHover]="pauseOnHover"
          [pauseOnFocus]="pauseOnFocus"
          (slide)="onSlide($event)"
        >
          <ng-template ngbSlide>
            <img class="img-fluid d-block w-100" src="assets/images/slider/img-slide-3.jpg" alt="First slide" />
          </ng-template>
          <ng-template ngbSlide>
            <img class="img-fluid d-block w-100" src="assets/images/slider/img-slide-4.jpg" alt="First slide" />
          </ng-template>
          <ng-template ngbSlide>
            <img class="img-fluid d-block w-100" src="assets/images/slider/img-slide-5.jpg" alt="First slide" />
          </ng-template>
        </ngb-carousel>
        <button type="button" (click)="togglePaused()" class="btn btn-primary mt-2">
          {{ paused ? 'Cycle' : 'Pause' }}
        </button>
      </div>
    </div>
  </div> -->
</div>
