<div class="row">
    <div class="col-sm-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control add_task_todo" placeholder="Search here..." required="" />
        <div class="input-group-append">
          <button class="btn btn-primary btn-icon btn-msg-send" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>

      <div class="card bg-dark text-white">
        <!-- <img class="card-img" src="assets/trends/weather1.jpeg" alt="Card image" /> -->
        <div class="card-img-overlay col-sm-10">
          <table datatable [dtOptions]="dtRowSelectOptions" class="table table-striped row-border table-hover"></table>        
        </div>
      </div>
    </div>

  </div>