<div class="row">
  <div class="col-sm-6">
    <app-card cardTitle="Border spinner" [options]="false">
      <div class="card-body">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loding...</span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Border spinner [ Colors ]" [options]="false">
      <div class="card-body">
        <div class="spinner-border text-primary me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-secondary me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-success me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-danger me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-warning me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-info me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-light me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-dark me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Growing spinner" [options]="false">
      <div class="card-body">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Growing spinner [ Colors ]" [options]="false">
      <div class="card-body">
        <div class="spinner-grow text-primary me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Placement" [options]="false">
      <div class="card-body">
        <h6>Start</h6>
        <div class="d-flex justify-content-start">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <hr />
        <h6>Center</h6>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <hr />
        <h6>End</h6>
        <div class="d-flex justify-content-end">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Size" [options]="false">
      <div class="card-body">
        <h6>Small</h6>
        <div class="spinner-border spinner-border-sm me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow spinner-grow-sm me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <hr />
        <h6>Custom</h6>
        <div class="spinner-border me-2" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow me-2" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-sm-6">
    <app-card cardTitle="Button" [options]="false">
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </div>
    </app-card>
  </div>
</div>
