.card .card-block,
.card {
  padding: 30px 25px;
}
.card-body {
  padding: 0px;
}
.card {
  border-radius: 0;
  box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  border: none;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
}
